[submodule "glfw-net"]
	path = glfw-net
	url = https://github.com/ForeverZer0/glfw-net.git
[submodule "glfw"]
	path = glfw/glfw-src
	url = https://github.com/glfw/glfw.git
[submodule "glmnet"]
	path = glmnet
	url = https://github.com/dwmkerr/glmnet.git
